    .App {
        text-align: center;
        /* background-image: url('C:\assignment\textanalysis\images (1).jpeg'); */
        background-color: rgba(64, 0, 128, 0.457);
        width: 981px;
        margin: 0%;
        padding: 0%;
        color: white;
        height: 491px;
        background-size: cover;
    }
    /* app.css */
    
    .Nav {
        padding: 10px 30px;
    }
    
    .Nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .Nav ul li {
        display: inline;
        margin-right: 10px;
        margin-left: 20px;
        /* Adjust as needed */
    }
    
    .Nav ul li:last-child {
        margin-right: 0;
        /* Remove margin from the last list item */
    }
    
    .Nav ul li a {
        text-decoration: none;
    }
    
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    .App-header {
        background-color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        padding: 10px 20px;
    }
    
    .App-link {
        color: white;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }